version: "3.9"

services:
  api:
    build: .
    container_name: WSD_TermProject_API
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./instance:/app/instance
    restart: always
